.carrousel { // boîte modale 
    position : fixed;
    width : 50%;
    height : 50%;
    top : 25%;
    left : 25%;
    border: 1px solid #aaa;
    background-color: aquamarine;
    transform : scale(0);
    transition : transform .5s;
   // overflow-y: hidden;
    
}

.carrousel--activer {
    transform : scale(1);
}

.carrousel__x{
    position : absolute;
    top :3px;
    right : 3px;
    z-index : 3;
}

.carrousel__figure {
   
    width : 100%;
    height: 100%;
}
 
.carrousel__img {
    display : block;
    position : absolute;
    object-fit:cover;
    width : 100%;
    height : 100%;
    opacity: 0;
 
}

.carrousel__form {
    display: block;
    text-align: center;

    position : absolute;
    bottom : 0;
    border: 1px solid #fff;
    width : 100%;
}
.carrousel__rad {
    display: inline-block;
    margin : 4px;
}

.carrousel__prec, .carrousel__suiv {
    position : absolute;
    width : 30px;
    height : 30px;
    top : 50%;
    border : 1px solid #666;
    border-radius : 3px;

}
.carrousel__prec{
  left : 5px;
}
.carrousel__suiv{
  right : 5px;
}

